.App {
  text-align: center;
}

#root {
  width: 75%;
  margin: auto;
  padding-top: 3rem;
}

label {
  display: block;
  width: 30%;
  margin: auto;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: lightblue;
}

input[type=submit] {
  display: block;
  width: 7%;
  margin: auto;
}